# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
.venv
venv
env

# Сборка и артефакты
build/
dist/
*.spec
*.exe
*.zip

# Данные пользователя
progress.json
settings.json
.installed

# IDE и прочее
.vscode
.idea
*.md
!README.md

# Изображения (генерируются при запуске)
фотоГл*.jpg
